@import url('theme.css');

#fls_header_bg{
    background-size: cover;
    background-position: center;
    height:350px;
    width: 100%; 
}

#top_menu{
    position: relative;
    background-color: grey;
    height: 10px;
    width: 100%;
    top: -350px;
    margin: auto;
}

.navbar-toggle{
    border: 1px solid white;
}

.navbar-toggle .icon-bar{
    background-color: white;
}

#main_menu{
    position: relative;
    background-color:yellowgreen;
    width: 75%;
    top: -350px;
    margin:auto;
    text-align: center;
}

#content_container{
    position: relative;
    width: 75%;
    min-height: 200px;
    margin: auto;
    text-align: center;
    padding-top: 15px;
    overflow: hidden;
    background: white;
    display: block;
    top: -150px;
}

#kitapAdi, #kitapSeviye, #yazarAdi, #yayinEvi{
    margin: auto;
    text-align: center;
}

footer{
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    background-color: #ccc;
    padding:3px;
}